body{
transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
}
.body-bg {
  height: 995px;
}
footer {
  position: relative;
  top: -100px;
}
.border-top{margin-bottom:35px}
/*.row .bauzimages{margin-top:25px}
*/
/* navbar  */
.navbar-header-main .navbar-brand {
  background: transparent!important;
}
.navbar-main {
  background:#000329;
}
.navbar-default .navbar-nav>li>a {
  color:white!important;
}
.dropdown {
  color: white;
}
.uppermenu{
  color:white;
  position:relative;
  z-index:101;
  float: right;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  width: 60%;
  padding: 10px 30px 0 0;
}
.uppermenu a{
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
}
.uppermenu a:hover{
  color:#f6a657;
}

