.uppermenu {padding:10px 20% 0 0 !important}
/**
*
*  Mein Bauzentrum
*
**/
.blue {
 color: #124190!important;
 }
.grey {
  color: #a1a1a1!important;
 }
.border{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.border-top{
  border-top: 1px solid #ccc;
  margin-bottom:25px;
}
.margin {
margin-top: 35px;
margin-bottom: 35px;
}
.center {
text-align:center;
}
.nopadd {
 padding: 2px;
}
.top20{margin-top:20px}
.bauseparator p {
font-family: 'Roboto';
font-size: 12px;
font-weight: 400;
margin-top: 35px;
margin-bottom: 35px;
padding: 0 25px;
text-align: center;
}
.topleft {
 font-family: 'Roboto';
 font-size: 15px;
 font-weight: 400;
}
img {
 width:100%;
}    
.meta-section,.meta-section .language{background:white}
.meta-section .active a, .meta-section a {color:black!important}
.copyright{display:none}
/**
*
*  Page Specific
*
*
**/
#p42 html,body        {height:100%;}
#p42 .panorama        {width:100%;height:auto;min-height:500px;}
#p42 .wrapper
#p38 .wrapper         {width:100%;height:100%;margin:0 auto;background:#CCC}

.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {border: 0; position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%;z-index:1;min-height:450px!important;}



#p42 .language a:hover,
#p42  .language a:active,
#p42 .language a:focus {color:#000}

/* embed */
#p37 #content, #p38 #content {background: white}
#p37 embed, #p38 embed {
width:100%;
min-height:900px;
position:relative;
z-index:99;
}

#p37 .navbar-header-border-bottom,
#p38 .navbar-header-border-bottom,
#p39 .navbar-header-border-bottom { display: none!important }


@media (max-width:600px) {
#p37 .breadcrumb, 
#p38 .breadcrumb,
#p39 .breadcrumb { left:4%!important;  }
}

@media (max-width:770px) {
#p37 .navbar-brand-image,
#p38 .navbar-brand-image,
#p39 .navbar-brand-image { left:2%  }



#p37 embed, #p38 embed { min-height:1000px  }

}

/* new menu */
#p42 .navbar-main, #p37 .navbar-main, #p38 .navbar-main, #p39 .navbar-main {
/*left:22%;padding:30px 29px 9px 50px;
*/
}

@media (min-width: 1200px) {
 .container { width: 100%!important; }
 #p10 .container {width:1170px!important}
 }
.auxnav {
    width: 1170px;
    margin: 0 auto;
}
#p38 .auxnav,
#p37 .auxnav,
#p39 .auxnav { position:relative; z-index:999  }

.breadcrumb-section .breadcrumb {
   left: 14%;
}
  /*footer*/
.meta-section, .meta-section .language {
    background: white;
}
.meta-section .active a, .meta-section a {
    color: black;
}
/**
* Navigation active hack
**/
.dropdown-menu li.active:nth-of-type(2) a {
border-bottom:none!important;
position:relative;
top:-2px;
}
/**
*
* Media MIN
*
**/

@media(min-width:990px){.language {position:relative;left:90px}}

/**
*
* Media MAX
* Media Page Specific
*
*
**/

@media(max-width:450px){
#p42 header{ /*display:none*/ }
#p45 #content { min-height: 600px !important }
}
@media(max-width:770px){
#content{min-height:0!important}

/* do this for other iframe panoramas */
#p42 .breadcrumb-section,
#p37 .breadcrumb-section,
#p38 .breadcrumb-section,
#p39 .breadcrumb-section,
#p40 .breadcrumb-section,
#p41 .breadcrumb-section,
#p43 .breadcrumb-section,
#p44 .breadcrumb-section { min-width:100%;position:absolute;top:105px;left:0;z-index:999;display:block!important  }

#p42 .breadcrumb,
#p37 .breadcrumb,
#p38 .breadcrumb,
#p39 .breadcrumb,
#p40 .breadcrumb,
#p41 .breadcrumb,
#p43 .breadcrumb,
#p44 .breadcrumb {text-align:center;left:0;margin-left:0 }

}

@media (max-width: 960px) {
#p10 .navbar-header-main .navbar-toggle {
 z-index:9999;position:relative;right:70px;top:-100px;width:100%;
}

}


@media (max-width:320px) {
#p37 .glyphicon-list,
#p38 .glyphicon-list,
#p39 .glyphicon-list,
#p42 .glyphicon-list,
#p43 .glyphicon-list,
#p44 .glyphicon-list {

/*display:none;*/

top:30px;z-index:100!important}

#p10 button { display:block!important; }
.auxnav{width:auto!important}
#p10 .navbar-header-main .navbar-toggle { right:0;top:0  }

}
